# Compiled class file
!build.gradle
.gradle
out
.idea
*.iml
build
apk

.vscode/
main/bin/
testable-jar/bin/
main/.settings/
testable-jar/.settings/
testable-jar/.project
testable-jar/.classpath
main/.project
main/.classpath
.settings/org.eclipse.buildship.core.prefs
.project
